/* LIST CONTAINER */

.list-container {
    display: grid;
    grid-template-columns: 100%;
    margin:auto;
    height: 100%;
    width: 100%;
    margin: auto;
}

/* LIST CHILD */

.list-child {
    /* background: #fff; */
    height: 100%;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: 90% 10%  ;
    margin: auto;
    /* padding: 5%; */
}
.list-display{
    margin: auto;
}
/* .getting-location{
    display: grid;
    grid-template-rows: 20%
} */