/* BUTTONS CONTAINER */
.buttons-container{
    display:flex;
    /* grid-template-columns: 33% 34% 33%; */
    position: absolute;
    bottom: 0px;
    left: 0;
    right:0;
    height: 10%;
    width: 100%;
    max-width:  375px;
    margin: auto;
    box-sizing: border-box;
}

/* BOTTOM BUTTONS */
.bottom-btn{
    margin:auto;
    border: none;
}

/* BOTTOM BUTTON IMAGES */
.bottom-btn-img{
    height:50px;
    border: none;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4); */
    
}
.bottom-buttons{
    background: none;
    border: none;
    text-decoration: none;
    outline:none;
    box-sizing: border-box;
    padding: 5px;
}

.bottom_buttons:active{
    border: none;
}