/* NAVBAR CONTAINER */
.navbar-container {
    /* background: linear-gradient(180deg, #74879C 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #74879C;     */
    background: linear-gradient(180deg, #BCBCD1 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:grid;
    grid-template-columns: 20% 60% 20%;
    min-height: 56px;
}

/* NAV BUTTON */
.nav-btn{
    margin:auto;
    
}
/* NAV IMAGES */
.user-img{
    height:35px;
    margin: auto;
}

/* NAV LOGO BUTTON */
.f-logo-btn{
    margin: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    font-family: Playball;
    font-size: 45px;
}

.f-btn{
    text-decoration: none;
    color: #FFFFFF;
}