.loading{
    /* background: #fff; */
    height: 89vh;
    border-radius: 20px;
    text-align: center;
    display: grid;
}
.landing-welcome{
    margin: auto;
    text-shadow: 0px 4px 4px #415A77;
    color: #FFFFFF;
    font-family: Playball;
    font-size: 60px;
}
.landing-gps{
    /* margin: auto; */
    text-shadow: 0px 4px 4px #415A77;
    color: #FFFFFF;
    font-family: Ovo;
    font-size: 20px;
}