/* CARDS MOTION */
.motion-card-stack {
  display: grid;
  /* height: 100%; */
  /* width: 100%; */
  grid-template-columns: 100%;
  box-sizing: border-box;
  padding: 5%;
  }
  
  .motion-card-item {
    grid-column: 1/2;
    grid-row: 1/2;
    will-change: transform;
    background: #fff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    height:80vh;
    width: 100%;
    border-radius: 20px;
    overflow: scroll;
    margin: auto;
    min-width: 337px;
    max-width: 337px;
    max-height: 722.68px;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 5px solid #9B51E0;  */
  
  }
  /* USER LIST CONTAINER */
  .user-list-container{
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }

  /* USER LIST IMAGE */
  .user-list-image{
      position: absolute;
      z-index: -1;
      left:0;
      right: 0;
      top:0;
      border-radius: 20px;
      width: 337.5px;
      height: 325px;
      filter:blur(8px);
      clip: rect(0px, 337.5px, 324.8px, 0px);
  }

  /* USER LIST NAME */
  .user-list-name{
    font-family: Pacifico;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1;
    top:250px;
      
  }
  /* USER LIST INFO CONTAINER */
  .user-list-info-container{
    height:100%;
    width:100%;
    overflow: scroll;
    text-align: left;
  }

  /* USER LIST TITLE */
  .user-list-title{
    font-family: Ovo;
    font-style: normal;
    font-size: 20px;
    color:#FF5C00;
    padding: 5px 10px;
    box-sizing: border-box
  }
/* USER LIST DESCRIPTION */
  .user-list-description{
    padding: 0 15px;
    box-sizing: border-box;
  }