.motion-card-stack {
    display: grid;
    grid-template-columns: 345px;
    grid-template-rows: 641px;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
    border-radius: 20px;
  }
  
  .motion-card-item {
    grid-column: 1/2;
    grid-row: 1/2;
    will-change: transform;
    background: #fff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    height: 81vh;
    width: 100%;
    border-radius: 20px;
    margin: auto;
  }
  
  .motion-image{
      margin: auto;
      border-radius: 20px;
      width: 100%;
      height: 40vh;
  }