.preview-container{
    width: 100%;
    display: grid;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
    overflow: scroll;
    
}
.preview-user-match{
    width: 100%;
}
.preview-btn{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 14px 0;
    text-decoration: none;
}
.preview-image{
    height:60px;
    border-radius: 50%;
    margin:auto;
}
.preview-name{
    margin: auto;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 26px;
    text-align: center;
    color: #7D7D7D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}