/* change-profile CHILD */

.change-profile-child {
    display: grid;
    grid-template-columns:100%;
   
}
a{
    text-decoration: none;
}
/* change-profile WHITE CONTAINER */

.change-profile-white-container {
    background: #fff;
    height: 89vh;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    overflow: scroll;
    min-width: 345px;
    max-width: 345px;
    max-height: 722.68px;
    margin:auto;
    display: grid;
    grid-template-rows: 30% 10% 60%;
}
::-webkit-scrollbar {
    display: none;
}

/* change-profile IMAGE CONTAINER */

.change-profile-image-container {
    /* display: grid;
    grid-template-columns: 100%; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding:8px;
}

.change-profile-image {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 120px;
    height: 200px;
    width: 200px;
    margin: auto;
}

/* change-profile NAME CONTAINER */

.change-profile-name {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* change-profile BUTTONS CONTAINER */

.change-profile-buttons-container {
    width: 100%;
    display: grid;
    grid-template-rows: 45% 45% 10% 
}

/* change-profile BUTTONS */

.buttons-svg-container {
    height: 100%;
    width: 100%;
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #7D7D7D;
    margin:auto;
    text-decoration: none;
    display: grid;
    box-sizing: border-box;
    
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    
}

.buttons-svg {
    margin: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    outline:none;
    
}


/* change-profile LOGOUT */

.change-profile-logout {
    height: 100%;
    width: 100%;
    /* display: grid;
    grid-template-rows: 50% 50% */
}
.change-profile-button{
    margin: auto;
    outline:none;
}

.logout-button {
    margin: auto;
    background: linear-gradient(180deg, #F2C391 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EE964B;    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline:none;
}
.delete-account{
    margin-top:15px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, rgb(204, 41, 0) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EE964B;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline:none;
}
a{
    text-decoration: none;
    color:#7d7d7d;
}