/* LOGIN CONTAINER */
.login_container {
    background: linear-gradient(213.52deg, #FFFFFF -0.05%, rgba(255, 255, 255, 0) 100.66%), linear-gradient(330.55deg, #28AFB0 30.93%, rgba(255, 255, 255, 0) 67.74%), #EE964B;
    height: 100vh;    
    width: 100%;
    text-align: center;
    grid-gap: 0px;
    display: grid;
    grid-template-columns: 100%;
}

/* THE BIG F LOGO */
.app-logo {
    font-family: Playball;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 220px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    align-items: center;
    margin: auto;
}

/* FRIVOLER NAME */
.app-name {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 102px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #74879C;
    border-bottom: 2px solid;
    box-shadow: 4px rgba(0, 0, 0, 0.75);
    margin: auto;
}
/* LOGIN CONTAINER */
.app-btn-container{
    /* margin: auto; */
}

/* LOGIN BUTTON */
.login-button {
    background: linear-gradient(180deg, #F2C391 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EE964B;    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border: none;
    outline:none;
}