.message-container{
    background: linear-gradient(213.52deg, #FFFFFF -0.05%, rgba(255, 255, 255, 0) 100.66%), linear-gradient(330.55deg, #28AFB0 30.93%, rgba(255, 255, 255, 0) 67.74%), #EE964B;    
    height: 100vh;    
    display: grid;
    grid-template-rows: 7% 93%;
}
/* MESSAGE CHILD*/

.message-child {
    height:89vh;
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    
}

/* MESSAGE WHITE CONTAINER */

.message-white-container {
    background: #fff;
    height: 89vh;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    min-width: 345px;
    max-width: 345px;
    max-height: 722.68px;
    margin:auto;
    box-sizing: border-box;
    
}

/* MESSAGES */
.messages {
    height: 41.8%;
    width: 100%;
    /* display: flex; */
    font-size: 20px;
    flex-direction: column;
    box-sizing: border-box; 
    overflow: scroll;
    
}
.message-text{
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #7D7D7D; 
    margin: 10px;
    
    
}
.message-text-user-image{
    height:40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 7px;
}

/* MESSAGE INPUT CONTAINER */
.message-input-container{
    height: 10%;
	background-color: #e5e6ea;
	display: flex;
	justify-content: space-around;
    align-items: center;
    border-radius: 0 0  20px 20px;
    
}
.message-input{
    height: 50%;
    width: 70%;
    border-radius: 15px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: medium;
    padding: 5px;
}
.send-message{
    font-size: 20px;
	color: #FF5C00;
	border: none;
	background-color: #e5e6ea;
}
.message-image{
    width: 100%;
    border-radius: 20px 20px 0 0;
}