/* change-set CHILD*/

.change-set-child {
    display: grid;
    grid-template-columns: 4% 92% 4%;
}

/* change-set WHITE CONTAINER */

.change-set-white-container {
    background: #fff;
    height: 89vh;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 16% 16% 16% 16% 38%;
    min-width: 345px;
    max-width: 345px;
    max-height: 722.68px;
    /* min-height: 722.68px; */
    margin: auto;
}

/* change-set GRAY CONTAINER */

.change-set-gray-container {
    margin: 5px;
}

/* change-set GRAY BOX */

.change-set-gray-box {
    height: 90%;
    width: 90%;
    margin: auto;
    background: #E3E3E3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
}

/* change-set TILE CONTAINER */

.change-set-title-container {
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #FF5C00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    text-align: left;
}

.change-set-toggle {
    margin: auto
}

/* CHANGE SHOW ME BUTTONS */
.change-set-title-buttons{
    height:100%;
    display: grid;
    grid-template-rows: 33% 66%;
}

.show-me-buttons{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%
}
.show-me-buttons-both{
    margin: 10px;
    background: linear-gradient(180deg, #FF5C00 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EE964B;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 10px;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
/* SLIDER CONTAINER */
.change-set-distance-slider-container{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    color: #7D7D7D;
}

/* NOTIFICATIONS */
.notifications{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    color: #7D7D7D;
    display: grid;
    grid-template-columns: 50% 50%;
}